<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RidenowV5">
	<listeners>
		<listener class-name="reports.Reporter"></listener>
	</listeners>
	<test thread-count="5" name="Test123">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testCase.HomeTest" />
		</classes>

	</test>

</suite>